@import '../../styles/variables.css';

.root {
  display: block;
  overflow-x: auto;
  margin-left: -16px;
  margin-right: -16px;
  padding-bottom: 32px;

  @media (--viewport-7) {
    @apply --thin-scrollbar;
    overflow-x: visible;
    display: inline;
    width: var(--column-size-inverse);
    marin-left: 0;
    marin-right: 0;
  }
}

.inner {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  padding: 8px;

  @media (--viewport-7) {
    width: auto;
  }
}

/* Each column */
.inner > div {
  flex: 0 0 50%;
  padding: 0 8px;

  & > :last-child {
    margin-bottom: 0;
  }
}

.inner > div > h4 {
  margin: 0 0 -16px 0;
  color: var(--accent-text);
}
