@import '../../styles/variables.css';

:root {
  --code-a: #6c5ce7;
  --code-b: #c39;
  --code-m: #707080;

  --code-a1: color-mod(var(--code-a) lightness(-20%) saturation(+20%));
  --code-a2: color-mod(var(--code-a));
  --code-b1: var(--code-b);
  --code-b2: color-mod(
    var(--code-b) lightness(-20%) saturation(+20%) hue(+20deg)
  );
  --code-m1: var(--code-m);
}

.root :global .token {
  & {
    color: var(--code-a2);
  }

  &.comment {
    color: var(--code-m);
    border-radius: 2px;
  }

  &.class-name,
  &.constant {
    color: var(--code-a1);
  }

  &.variable {
    color: var(--code-b2);
  }

  /* Noise */
  &.keyword,
  &.punctuation,
  &.operator {
    color: var(--code-m);
  }

  &.keyword {
    font-style: italic;
  }

  /* Constants */
  &.string,
  &.number {
    color: var(--code-b);
  }
}
