html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Public Sans', Roboto, sans-serif;
  line-height: 1.5;
  position: relative;

  @screen md {
    font-size: 17px;
  }
}

img {
  /* Hide captions when loading */
  color: transparent;
}
