@import 'css-utils/all.css';

.item {
  @apply block pt-2 no-underline type-italic-serif rms-1;

  &,
  &:visited {
    @apply text-n-mute;
  }

  &.isActive,
  &.isActive:visited {
    @apply not-italic type-bold-heading text-n-bold;
  }
}

/* Horizontal rule */
.rule {
  @apply relative block mb-2 bg-n-line;
  height: 2px;
}

.rule::before,
.rule::after {
  @apply absolute inset-0 block;
  content: '';
}

.rule::after {
  @apply z-10 bg-a-300;
  transform: scaleX(0);
  transition: transform ease-out 250ms;
  transform-origin: 0 0;
}

.isActive .rule::after {
  transform: scaleX(1);
}

.rule::before {
  @apply z-0 bg-n-line;
  transition: opacity ease-out 125ms;
}

.isActive .rule::before {
  opacity: 0;
}

.label {
  @apply block;
}

/* Variable height spacer */
.spacer {
  @apply block h-8;
  transition: height ease-out 350ms;

  @media (min-height: 480px) {
    @apply h-16;
  }
}

.isActive .spacer {
  @apply block h-12;

  @media (min-height: 480px) {
    @apply h-24;
  }
}

