/* stylelint-disable no-duplicate-selectors */
@import 'responsive-modular-scale.css';

/* Color palette */
:root {
  --yellow: #ffeaa7;
  --mint: #55efc4;
  --poster: #81ecec;
  --ube: color-mod(#6c5ce7 lightness(+20%));
}

/* Metrics */
:root {
  --column-size: 60%;
  --column-size-inverse: calc(100% / 0.6);
}

/* Colors 2 */
:root {
  --mute-text-color: #708090;
  --text-color: #303030;
  --heading-color: #080808;
  --border-color: #7080903f;
  --pane-background: #f3f5f8;
  --code-background: #fcfcfc;

  /* --accent: color-mod(var(--poster)); */
  /* --accent: color-mod(var(--yellow)); */
  --accent: color-mod(var(--ube));
  /* --accent: color-mod(tomato tint(30%)); */
  /* --accent: color-mod(var(--mint) tint(40%) saturation(-20%)); */
  --co-accent: color-mod(var(--accent) hue(-10deg) saturation(+40%));
  --highlighter-color: color-mod(var(--accent) alpha(50%));
  --accent-border-color: color-mod(var(--accent) alpha(30%));

  --accent-text: color-mod(
    var(--accent) shade(30%) saturation(+30%) hue(-10deg)
  );
}

:root {
  --body-font: {
    /* font-family: 'IBM Plex Sans', system-ui; */
    font-family: 'Roboto', system-ui;
  }

  --h1-font: {
    font-weight: 200;
    font-family: 'Iosevka Web', system-ui;
  }

  --ui-font: {
    font-weight: 400;
    font-family: 'IBM Plex Sans', system-ui;
  }

  --h2-font: {
    font-weight: 700;
    font-family: 'Barlow', system-ui;
  }

  --h3-font: {
    font-weight: 400;
    font-family: 'Iosevka Web', system-ui;
    font-style: normal;
    letter-spacing: 0.1em;
  }

  --monolike-font: {
    font-weight: normal;
    font-family: 'Iosevka Web', system-ui;
    font-style: normal;
    letter-spacing: 0em;
  }

  --code-font: {
    font-family: 'Iosevka Web', monospace;
  }

  --em-style: {
    font-family: 'Alegreya', sans-serif;
    font-size: 1.1em;
    line-height: 0.2em;
    font-style: italic;
  }
}

/* Mixins */
:root {
  --horizontal-rule: {
    content: '';
    display: block;
    height: 2px;
    background: linear-gradient(
      to right,
      var(--co-accent),
      var(--accent) 20%,
      transparent 20%
    );
  }

  --container-padding: {
    & {
      padding-left: 16px;
      padding-right: 16px;
    }

    @media (--show-side-line) {
      padding-left: 80px;
    }

    @media (--ms-viewport-xxl) {
      padding-left: calc((100vw - 960px) * 0.5 + 32px);
      padding-right: calc((100vw - 960px) * 0.5 - 32px);
    }
  }

  --container-padding-antimargin: {
    & {
      margin-left: -16px;
      margin-right: -16px;
    }

    @media (--show-side-line) {
      margin-left: -80px;
    }

    @media (--ms-viewport-xxl) {
      margin-left: calc(-1 * ((100vw - 960px) * 0.5 + 32px));
      margin-right: calc(-1 * ((100vw - 960px) * 0.5 - 32px));
      width: calc(100vw - 64px - 8px);
    }
  }

  --shadow-paper: {
    box-shadow: 0 2px 3px #3681, 12px 12px 18px #3681;
  }

  --shadow-paper-inactive: {
    box-shadow: 1px 1px 1px color-mod(var(--mute-text-color) alpha(20%));
  }

  --shadow-paper-transition: {
    transition: background-color 250ms linear, box-shadow 250ms linear,
      transform 250ms ease-in, filter 250ms linear;
  }

  --inactive-section: {
    background: white;
    filter: brightness(0.99);
    @apply --shadow-paper-transition;
  }

  --side-line-section: {
    @apply --shadow-paper;
    @apply --side-line;

    & {
      transform-origin: 32px 50%;
      margin: 0;
      border-radius: 2px;
    }

    @media (--ms-viewport-md) {
      margin: 0 8px;
    }

    @media (--ms-viewport-xxl) {
      margin: 2px 32px;
    }

    &:global(.-inactive) {
      @apply --shadow-paper-inactive;
      @apply --inactive-section;
    }

    &:global(.-inactive)::after {
      background-color: color-mod(var(--mute-text-color) alpha(5%));
    }
  }

  --side-line: {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      background: color-mod(var(--border-color) alpha(-10%));

      @media (--show-side-line) {
        display: block;
        left: 48px;
        top: 16px;
        bottom: 16px;
      }

      /* @media (--ms-viewport-xxl) { */
      /*   left: 64px; */
      /* } */
    }
  }

  --fading-horizontal-rule: {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, var(--border-color) 50%, transparent);
  }

  --thin-scrollbar: {
    /* Firefox 64+ only */
    scrollbar-width: thin;
    scrollbar-color: #7894 transparent;

    &:hover {
      scrollbar-color: #7896 #7891;
    }
  }

  --figure: {
    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    &:global(.-bordered) {
      box-shadow: inset 0 0 0 2px var(--accent);
      padding: 16px;
    }
  }

  --pre: {
    & {
      box-shadow: inset 0 0 0 2px var(--accent);
    }

    &:global(.-bold) {
      font-weight: bold;
    }

    &:global(.-terminal) {
      padding-top: 56px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: '';
        display: block;
        height: 32px;
        border-bottom: solid 1px var(--accent);
        opacity: 0.25;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 16px;
        left: 16px;
        background: var(--accent);
        opacity: 0.5;
        margin-left: -2px;
        margin-top: -2px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        box-shadow: 16px 0 var(--accent), 32px 0 var(--accent);
      }
    }

    & + pre {
      box-shadow: inset 2px 0 0 var(--accent), inset -2px -2px 0 var(--accent),
        inset 0 1px 0 var(--border-color);
      margin-top: calc(-2.6em);
      padding-top: 16px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 0;
    }
  }
}

/* Modular scale */
:root {
  --ms-ratio-sm: 1.15;
  --ms-ratio-md: 1.17;
  --ms-ratio-lg: 1.2;
  --ms-base: 1em;
  --ms-base-sm: var(--ms-base);
  --ms-base-md: var(--ms-base-sm);
  --ms-base-lg: var(--ms-base-md);
}

@custom-media --viewport-4 (width > 480px);
@custom-media --viewport-7 (width > 768px);
@custom-media --viewport-9 (width > 900px);
@custom-media --viewport-11 (width > 1100px);

/* Custom media queries */
@custom-media --ms-viewport-md (--viewport-4); /* portrait tablet+ */
@custom-media --ms-viewport-lg (--viewport-7); /* landscape mobile/tablet+ */
@custom-media --ms-viewport-xl (--viewport-9); /* laptop+ */
@custom-media --ms-viewport-xxl (--viewport-11); /* desktop+ */
@custom-media --show-side-line (width > 900px);
