:root {
  --yellow: #ffeaa7;
  --mint: #55efc4;
  --poster: #81ecec;
}

:root {
  --column-size: 60%;
}

:root {
  --mute-text-color: #708090;
  --text-color: #303030;
  --heading-color: #080808;
  --border-color: #7080903c;
  --code-background: #fcfcfc;

  --accent: color-mod(var(--poster));
  /* --accent: color-mod(var(--yellow)); */
  /* --accent: color-mod(tomato tint(30%)); */
  /* --accent: color-mod(var(--mint) tint(40%) saturation(-20%)); */
  --co-accent: color-mod(var(--accent) hue(-10deg) saturation(+40%));
  --highlighter-color: color-mod(var(--accent) alpha(50%));

  --accent-text: color-mod(
    var(--accent) shade(40%) saturation(+30%) hue(-10deg)
  );

  --horizontal-rule: {
    content: '';
    display: block;
    height: 2px;
    background: linear-gradient(
      to right,
      var(--co-accent),
      var(--accent) 20%,
      transparent 20%
    );
  }

  /* --h2-font: {
    font-weight: 900;
    font-family: 'Chivo', sans-serif;
    letter-spacing: -0.02em;
  } */

  --body-font: {
    font-family: 'IBM Plex Sans', system-ui;
  }

  --h1-font: {
    font-weight: 200;
    font-family: 'Iosevka Web', system-ui;
  }

  --h2-font: {
    font-weight: 700;
    font-family: 'Chivo', system-ui;
  }

  --h3-font: {
    font-weight: 400;
    font-family: 'Iosevka Web', system-ui;
    font-style: normal;
    letter-spacing: 0.1em;
  }

  --monolike-font: {
    font-weight: normal;
    font-family: 'Iosevka Web', system-ui;
    font-style: normal;
    letter-spacing: 0em;
  }

  --code-font: {
    font-family: 'Iosevka Web', monospace;
  }

  --em-style: {
    font-family: 'Alegreya', sans-serif;
    font-size: 1.1em;
    line-height: 0.2em;
    font-style: italic;
  }

  --font-size--1: {
    font-size: calc(1em / 1.2);
  }

  --font-size-4: {
    font-size: calc(1.2em * 1.2 * 1.2 * 1.2);
  }

  --font-size-5: {
    font-size: calc(1.2em * 1.2 * 1.2 * 1.2 * 1.2);
  }

  --font-size-6: {
    font-size: calc(1.2em * 1.2 * 1.2 * 1.2 * 1.2 * 1.2);
  }

  --font-size-7: {
    font-size: calc(1.2em * 1.2 * 1.2 * 1.2 * 1.2 * 1.2 * 1.2 * 1.2);
  }

  --container-padding: {
    & {
      padding-left: 16px;
      padding-right: 16px;
    }

    @media (--show-side-line) {
      padding-left: 80px;
    }

    @media (min-width: 1200px) {
      padding-left: calc((100vw - 960px) * 0.5 + 64px);
      padding-right: calc((100vw - 960px) * 0.5 - 64px);
    }
  }

  --shadow-paper: {
    border-radius: 2px;
    box-shadow: 0 2px 3px #3452, 0 16px 24px #3452;
  }

  --side-line: {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      background: #7893;
    }
    @media (--show-side-line) {
      &::after {
        display: block;
        left: 64px;
        top: 48px;
        bottom: 16px;
      }
    }
  }
}

@custom-media --show-side-line (min-width: 900px);
