/* stylelint-disable no-duplicate-selectors */
@import 'responsive-modular-scale.css';

/* Color palette */
:root {
  --yellow: #ffeaa7;
  --mint: #55efc4;
  --poster: #81ecec;
  --ube: color-mod(#6c5ce7 lightness(+20%));
}

/* Metrics */
:root {
  --column-size: 60%;
  --column-size-inverse: calc(100% / 0.6);
}

/* Colors 2 */
:root {
  --mute-text-color: #707080;
  --text-color: #404040;
  --bold-color: #101010;
  --heading-color: #080808;
  --border-color: #7080903f;
  --pane-background: #f3f5f8;
  --code-background: #fcfcfc;

  --accent: #ffef62;
  --co-accent: color-mod(var(--accent) hue(-10deg) saturation(+40%));
  --highlighter-color: color-mod(var(--accent) alpha(50%));
  --accent-border-color: color-mod(var(--accent) alpha(30%));

  --accent-text: color-mod(
    var(--accent) shade(30%) saturation(+30%) hue(-10deg)
  );
}

:root {
  --body-font: {
    font-family: 'Inter', system-ui;
  }

  --work-sans-500: {
    font-family: 'Work Sans', system-ui;
    font-weight: 500;
    font-style: normal;
  }

  --h2-font: {
    font-family: 'Alegreya', system-ui;
    font-weight: 400;
  }

  --h3-font: {
    @apply --work-sans-500;
    letter-spacing: 0.1em;
  }

  --code-font: {
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: -0.06em;
    font-weight: 500;
  }
}

/* Mixins */
:root {
  --horizontal-rule: {
    content: '';
    display: block;
    height: 2px;
    background: linear-gradient(
      to right,
      var(--co-accent),
      var(--accent) 20%,
      transparent 20%
    );
  }

  /* Padding meant to be used in h2section */
  --section-padding: {
    & {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    @media (--viewport-9) {
      padding-top: 64px;
      padding-bottom: 64px;
    }

    @media (--viewport-13) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  --container-padding: {
    & {
      padding-left: 16px;
      padding-right: 16px;
    }

    @media (--ms-viewport-xxl) {
      padding-left: calc((100vw - 960px) * 0.5);
      padding-right: calc((100vw - 960px) * 0.5);
    }
  }

  --container-padding-antimargin: {
    & {
      margin-left: -16px;
      margin-right: -16px;
    }

    @media (--ms-viewport-xxl) {
      margin-left: calc(-1 * ((100vw - 960px) * 0.5 + 32px));
      margin-right: calc(-1 * ((100vw - 960px) * 0.5 - 32px));
      width: calc(100vw - 64px - 8px);
    }
  }

  --shadow-paper: {
    box-shadow: 0 2px 3px #3681, 12px 12px 18px #3681;
  }

  --shadow-paper-inactive: {
    box-shadow: 1px 1px 1px color-mod(var(--mute-text-color) alpha(20%));
  }

  --shadow-paper-transition: {
    transition: background-color 250ms linear, box-shadow 250ms linear,
      transform 250ms ease-in, filter 250ms linear;
  }

  --inactive-section: {
    background: white;
    filter: brightness(0.99);
    @apply --shadow-paper-transition;
  }

  --side-line-section: {
    @apply --shadow-paper;
    @apply --side-line;

    & {
      transform-origin: 32px 50%;
      margin: 2px 0;
      border-radius: 2px;
    }

    @media (--ms-viewport-md) {
      margin: 4px 8px;
    }

    @media (--ms-viewport-xxl) {
      margin: 8px 32px;
    }

    &:global(.-inactive) {
      @apply --shadow-paper-inactive;
      @apply --inactive-section;
    }

    &:global(.-inactive)::after {
      background-color: color-mod(var(--mute-text-color) alpha(5%));
    }
  }

  --side-line: {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      background: color-mod(var(--border-color) alpha(-10%));

      @media (--show-side-line) {
        display: block;
        left: 48px;
        top: 16px;
        bottom: 16px;
      }

      /* @media (--ms-viewport-xxl) { */
      /*   left: 64px; */
      /* } */
    }
  }

  --fading-horizontal-rule: {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      var(--border-color) 50%,
      var(--border-color)
    );
  }

  --thin-scrollbar: {
    /* Firefox 64+ only */
    scrollbar-width: thin;
    scrollbar-color: #7894 transparent;

    &:hover {
      scrollbar-color: #7896 #7891;
    }
  }

  --figure-border: {
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.07);
  }

  --figure: {
    @apply --figure-border;
    padding: 16px;

    & > :first-child,
    & > figcaption > :first-child {
      margin-top: 0;
    }

    & > :last-child,
    & > figcaption > :last-child {
      margin-bottom: 0;
    }

    & > img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    & > figcaption:global(.-title) {
      @apply --font-size--1;
      border-top: solid 1px var(--border-color);
      padding-top: 16px;
    }

    /* For filenames */
    & > figcaption:first-child {
      border: 0;
      padding: 0;
      margin: -16px;
      margin-bottom: 24px;
      padding: 8px 12px;
      background: color-mod(var(--accent) alpha(10%));
      color: var(--accent-text);
      text-align: center;
      position: relative;

      /* Faux traffic lights */
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 16px;
        width: 4px;
        height: 4px;
        margin-top: -2px;
        background: var(--accent);
        border-radius: 50%;
        /* prettier-ignore */
        box-shadow:
          12px 0 0 var(--accent),
          24px 0 0 var(--accent);
      }
    }

    & > figcaption:global(.-alt) {
      background: color-mod(var(--mint) alpha(10%));
      color: #889;

      /* Faux traffic lights */
      &::before {
        background: var(--mint);
        /* prettier-ignore */
        box-shadow:
          12px 0 0 var(--mint),
          24px 0 0 var(--mint);
      }
    }

    &:global(.-transparent),
    &:global(.-no-pad) {
      box-shadow: none;
      padding: 0;

      & > figcaption {
        padding: 16px;
      }
    }

    &:global(.-no-pad) {
      box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08);
    }
  }

  --pre: {
    @apply --figure-border;

    & {
      padding: 16px;
      position: relative;
    }

    &:global(.-command),
    &:global(.-command) + pre {
      padding-left: 40px;

      & > code {
        position: relative;
      }

      & > code::before {
        content: '->';
        position: absolute;
        left: -24px;
        top: 0;
        color: var(--accent-text);
      }
    }

    &:global(.-command) + pre {
      background: color-mod(var(--accent) lightness(99%));
      color: var(--mute-text-color);

      & > code {
        position: relative;
      }

      & > code::before {
        content: '<-';
      }
    }
  }
}

/* Modular scale */
:root {
  --ms-ratio-sm: 1.15;
  --ms-ratio-md: 1.17;
  --ms-ratio-lg: 1.2;
  --ms-base: 1em;
  --ms-base-sm: var(--ms-base);
  --ms-base-md: var(--ms-base-sm);
  --ms-base-lg: var(--ms-base-md);
}

@custom-media --viewport-4 (width > 480px);
@custom-media --viewport-7 (width > 768px);
@custom-media --viewport-9 (width > 992px);
@custom-media --viewport-11 (width > 1100px);
@custom-media --viewport-13 (width > 1300px);

/* Custom media queries */
@custom-media --ms-viewport-md (--viewport-4); /* portrait tablet+ */
@custom-media --ms-viewport-lg (--viewport-7); /* landscape mobile/tablet+ */
@custom-media --ms-viewport-xl (--viewport-9); /* laptop+ */
@custom-media --ms-viewport-xxl (--viewport-11); /* desktop+ */
@custom-media --show-side-line (width > 900px);

:root {
  --h2-style: {
    font-family: 'Work Sans', system-ui;
    font-weight: bold;
    letter-spacing: -0.03em;
  }

  --h1-style: {
    font-family: 'Work Sans', system-ui;
    font-weight: 300;
    letter-spacing: -0.04em;
  }

  --alt-style: {
    font-family: 'Work Sans', system-ui;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
