@import '../styles/variables.css';

.root {
  composes: context from './MarkdownBody.module.css';
  background: var(--pane-background);
  box-shadow: inset 104px 0 0 white, inset 0 64px 0 white, inset 0 -64px 0 white;
}
