@import '../styles/variables.css';

:root {
  --blog-nav-area-width: 64px;
}

.blog-nav {
  & {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 8;
    pointer-events: none;
  }

  & > .area {
    transform: rotate(-90deg);
    transform-origin: 0 100%;
    height: var(--blog-nav-area-width);
    width: 100vh;
    position: absolute;
    bottom: 0;
    left: var(--blog-nav-area-width);

    padding: 64px 48px;
    padding-bottom: 0;
  }

  & > .area > .bar {
    padding-bottom: 16px;
    @apply --font-size--1;
    font-family: chivo, system-ui;
    text-align: left;
    color: #7898;
  }

  & > .area > .bar > strong {
    color: #111;
  }
  & > .area > .bar > strong::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 0 24px;
    width: 32px;
    height: 3px;
    border-radius: 2px;
    background: var(--accent);
    position: relative;
    top: -1px;
  }
}
