@import 'src/styles/variables.css';

.blog-post-title {
  @apply --container-padding;

  & {
    margin: 0 32px;
    margin-bottom: 32px;
    padding-bottom: 128px;
    padding-top: 40vh;
    @apply --shadow-paper;
    border: solid 1px #ddd;
  }

  & > h1 {
    @apply --h1-font;
    @apply --font-size-7;
    text-shadow: 2px 2px white, 4px 4px 0 color-mod(var(--accent) alpha(80%));
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }

  @media (min-width: 768.1px) {
    & > h1 {
      max-width: 50%;
    }
  }

  & > hr {
    display: block;
    border: 0;
    @apply --horizontal-rule;
    margin: 16px 0;
  }

  @media (min-width: 768.1px) {
    & > hr {
      margin: 48px 0;
    }
  }

  & > .byline {
    @apply --h3-font;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1em;
    color: var(--accent-text);
    font-size: 0.9em;
  }

  @media (min-width: 768.1px) {
    & > .byline {
      margin: 2.5em 0;
    }
  }
}

.blog-post-title > h1 > .blinker {
  display: inline-block;
  vertical-align: middle;
  width: 0.6em;
  height: 1em;
  background: repeating-linear-gradient(
      45deg,
      white,
      white 4px,
      transparent 4px,
      transparent 6px
    ),
    linear-gradient(30deg, var(--accent), var(--co-accent));
  margin-left: -0.2em;
  margin-top: -0.1em;
  animation: cursor-blink 1200ms ease-in infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
