@import '../styles/variables.css';

.root {
  @apply --container-padding;

  background: white;
}

.title {
  & {
    @apply --font-size-7;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    color: var(--bold-color);
  }

  @media (--viewport-7) {
    padding-right: 35%;
  }
}

/* "Written by..." */
.byline {
  display: block;
}

.body {
  composes: context from './MarkdownBody.module.css';
}
