@import '../styles/variables.css';

:root {
  --blog-nav-area-width: 64px;
}

.root {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 8;
  pointer-events: none;
  display: none;
}

.area {
  transform: rotate(-90deg);
  transform-origin: 0 100%;
  width: 100vh;
  position: absolute;
  bottom: 0;

  padding: 64px 48px;
  padding-bottom: 0;

  & {
    height: 32px;
    left: 32px;
  }

  @media (--ms-viewport-xxl) {
    height: 56px;
    left: 56px;
  }
}

.bar {
  padding-bottom: 16px;
  @apply --ms-font-size--1;
  @apply --ui-font;
  text-align: left;
  color: #7898;
}

.prefix {
  color: #111;
}

.prefix::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: 0 24px;
  width: 32px;
  height: 3px;
  border-radius: 2px;
  background: var(--accent);
  position: relative;
  top: -1px;
}

.title {
}
