@import '../styles/variables.css';

:root {
  --h1-style: {
    font-family: 'Work Sans', system-ui;
    font-weight: 300;
    letter-spacing: -0.04em;
  }

  --alt-style: {
    font-family: 'Work Sans', system-ui;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

.root {
  @apply --container-padding;
  @apply --section-padding;

  background: white;

  @media (--viewport-9) {
    padding-top: 128px;
  }
}

.title {
  & {
    @apply --font-size-7;
    @apply --h1-style;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    color: var(--bold-color);
  }

  @media (--viewport-7) {
    padding-right: 35%;
  }
}

/* "Written by..." */
.byline {
  & {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  @media (--viewport-7) {
    margin-left: -16px;
  }

  /* Hyphen */
  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 2px;
    background: var(--accent);
    margin-right: 12px;
  }
}

.author,
.date {
  text-transform: uppercase;
  @apply --alt-style;
  color: var(--bold-color);
  @apply --font-size--1;
}

/* Vertical pipe separating author and date */
.date::before {
  content: '';
  vertical-align: middle;
  height: 2em;
  width: 1px;
  background: var(--border-color);
  display: inline-block;
  margin: 0 16px;
}

.author {
  font-weight: bold;
}

.body {
  composes: context from './MarkdownBody.module.css';
}
