@import '../styles/variables.css';

.root {
  @apply --container-padding;
  @apply --side-line-section;

  & {
    background: white;
    position: relative;
    z-index: 5;
    border-top: solid 1px transparent;
    transition: box-shadow 300ms linear, transform 300ms ease-in;
    padding-bottom: 32px;
    margin-top: 64px;
    transition: margin-top 50ms ease-in;
  }

  @media (--viewport-4) {
    padding-bottom: 80px;
    padding-top: 128px;
  }

  @media (--viewport-7) {
    margin-top: 80px;
    padding-top: 224px;
  }
}

.root {
  & {
    @apply --shadow-paper-transition;
  }

  &.isInactive {
    @apply --shadow-paper-inactive;
  }

  & > * {
    transition: opacity 300ms linear;
  }

  &.isInactive {
    @apply --inactive-section;
  }
}

.titleContainer {
  position: relative;
  margin-top: -0.6em;
  transform: translate3d(0, 0, 0);
}

.title {
  & {
    font-family: 'Alegreya', system-ui;
    font-weight: 400;
    font-style: normal;
    @apply --font-size-7;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    color: var(--bold-color);
  }

  /* Typist */
  & > div {
    display: inline;
  }

  @media (--viewport-7) {
    padding-right: 35%;
  }
}

/* "Written by..." */
.byline {
  & {
    /* @apply --em-style; */
    @apply --h3-font;
    letter-spacing: 0;
    line-height: 1.4;
    color: var(--accent-text);
    white-space: nowrap;
    border-top: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
    padding: 16px 0;
  }

  /* Horizontal line */
  &::before {
    content: '';
    width: 2em;
    height: 4px;
    border-radius: 4px;
    vertical-align: baseline;
    background: var(--accent);
    margin-top: 0.5em;
    float: right;
    display: none;

    @media (--viewport-7) {
      display: inline-block;
    }
  }

  @media (--show-side-line) {
    margin: 2em 0;
    margin-top: 3em;
  }
}

/*
 * Cursor
 */

.blinker {
  vertical-align: middle;
  width: 0.1em;
  height: 1em;
  background: repeating-linear-gradient(
      45deg,
      white,
      white 3px,
      transparent 3px,
      transparent 5px
    ),
    linear-gradient(30deg, var(--accent), var(--co-accent));
  margin-left: 0.2em;
  margin-top: -0.1em;
  animation: cursor-blink 1200ms ease-in infinite;
  display: none;

  @media (--viewport-9) {
    display: inline-block;
  }
}

.body {
  composes: context from './MarkdownBody.module.css';
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
