@import '../styles/variables.css';

.colophon-section {
  display: block;
  background: white;
  position: relative;
  z-index: 10;
  text-align: center;
  color: #888;
  background: var(--pane-background);
  margin: 32px;
  margin-top: 0;

  & > a {
    font-size: 4em;
    display: block;
    text-align: right;
    padding: 30vh 30vh;
    color: var(--mute-text-color);
    text-decoration: none;
    @apply --monolike-font;
    text-transform: uppercase;
  }

  & > a:hover,
  & > a:focus {
    color: #111;
  }
}
