@import '../styles/variables.css';

.h2-section {
  & {
    @apply --container-padding;
    @apply --side-line;
    padding-top: 64px;
    padding-bottom: 96px;
    position: relative;
    margin: 0 32px;
    transform-origin: 32px 50%;
    border: solid 1px transparent;
  }

  & + .h2-section {
    margin-top: 32px;
  }

  & > h2 {
    @apply --h2-font;
    @apply --font-size-4;
    color: var(--heading-color);
    margin-bottom: 32px;
    line-height: 1.4;
    text-shadow: 2px 0 0 color-mod(var(--accent) alpha(40%));
    max-width: var(--column-size);
  }
}

.h2-section {
  & {
    transition: background-color 250ms linear, box-shadow 250ms linear,
      transform 250ms ease-in, filter 250ms linear;
  }

  & > h2,
  & > .body {
    transition: opacity 250ms linear, color 250ms linear;
  }
}

.h2-section.-inactive {
  & {
    transform: scale(0.99);
    background: white;
    box-shadow: 0 1px 2px #1241;
    z-index: 1;
  }

  &::after {
    background-color: #7892;
  }

  & > h2 {
    color: var(--accent);
    text-shadow: none;
  }

  & > .body {
    opacity: 0.2;
  }
}

.h2-section.-active {
  @apply --shadow-paper;
  background-color: white;
  z-index: 5;
  border-color: #7893;
}
