@import '../styles/variables.css';

.root {
  @apply --container-padding;
  @apply --side-line-section;

  & {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
  }

  @media (--ms-viewport-md) {
    padding-bottom: 64px;
  }

  /* Too airy, lol, reserve it for huge screens */
  @media (min-height: 900px) {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  & > h2 {
    font-family: 'Alegreya', system-ui;
    font-weight: 400;
    @apply --font-size-5;
    color: var(--heading-color);
    line-height: 1.4;
    margin-bottom: 24px;
    /* text-shadow: 2px 0 0 color-mod(var(--accent) alpha(40%)); */
  }

  /* Horizontal line */
  & > h2::after {
    @apply --fading-horizontal-rule;
    margin: 16px 0;
  }

  @media (--show-side-line) {
    & > h2 {
      max-width: var(--column-size);
    }

    & > h2::after {
      width: 800px;
    }
  }
}

.root {
  & > h2,
  & > .body {
    transition: opacity 250ms linear, color 250ms linear;
  }
}

.root:global(.-inactive) {
  & {
    z-index: 1;
  }

  & > h2 {
    color: var(--accent);
    text-shadow: none;
  }

  & > .body {
    color: var(--mute-text-color);
    opacity: 0.9;
  }
}

.root:global(.-active) {
  background-color: white;
  z-index: 5;
}
