@import '../styles/variables.css';

.h2-section {
  & {
    @apply --container-padding;
    padding-top: 64px;
    padding-bottom: 96px;
    position: relative;
  }

  &:not(:first-of-type) {
  }

  &:first-of-type {
    box-shadow: none;
    background: transparent;
    padding-top: 0;
  }

  & + .h2-section {
    margin-top: -14px;
  }

  & > h2 {
    @apply --h2-font;
    @apply --font-size-4;
    color: var(--heading-color);
    margin-bottom: 32px;
    line-height: 1.4;
    text-shadow: 2px 0 0 color-mod(var(--accent) alpha(40%));
    max-width: var(--column-size);
  }

  & > h2.-large {
    @apply --font-size-7;
  }

  & > h1::after,
  & > h2::after {
    margin-top: 16px;
    @apply --horizontal-rule;
  }

  margin: 0 16px;
}

.h2-section {
  & {
    transition: background-color 250ms linear, box-shadow 250ms linear,
      transform 250ms ease-in;
  }

  & > h2,
  & > .body {
    transition: opacity 250ms linear, color 250ms linear;
  }
}

.h2-section:not(:first-child).-inactive {
  & {
    background-color: transparent;
    transform: scale(0.99);
  }

  & > h2 {
    color: var(--accent);
    text-shadow: none;
  }

  & > .body {
    opacity: 0.2;
  }
}

.h2-section.-active {
  background-color: white;
  box-shadow: 0 2px 3px #3451, 0 16px 24px #3451;
  transform: scale(1);
}

.h2-section:first-child {
  background-color: white;
  box-shadow: none;
}

/* .h2-section:not(:first-of-type)::before {
  content: '';
  display: block;
  width: 128px;
  height: 2em;
  margin-top: -128px;
  margin-bottom: 80px;

  background: linear-gradient(30deg, var(--accent), var(--co-accent));
} */

.h2-separator {
  height: 4px;
  background: #fdfdfd;
  box-shadow: inset 0 4px 4px -4px color-mod(var(--accent) shade(20%) alpha(90%)),
    inset 0 -3px 2px -4px color-mod(var(--accent) shade(20%) alpha(90%));
}
