@import '../styles/variables.css';

.root {
  @apply --container-padding;

  & {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
  }

  @media (--ms-viewport-md) {
    padding-bottom: 64px;
  }

  & > h2 {
    @apply --font-size-5;
  }
}

.root:global(.-inactive) {
}

.root:global(.-active) {
}
