@import '../styles/variables.css';

.root {
  @apply --container-padding;
  @apply --section-padding;
  position: relative;

  & > h2 {
    @apply --font-size-5;
    @apply --h2-style;
    color: var(--bold-color);
    margin-bottom: 16px;
    margin-top: 0;
  }
}

/* Yellow HR */
.root::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  height: 2px;
  background: var(--accent);
  z-index: 2;
  box-shadow: inset 16px 0 #fff, inset -16px 0 #fff, 0 0 0 4px #fff;

  @media (--viewport-7) {
    left: 40%;
    right: 40%;
  }
}

/* Rectangular border */
.root::after {
  content: '';
  display: block;
  position: absolute;
  left: -2px;
  right: -2px;
  top: 0;
  bottom: 0;
  border: solid 1px var(--border-color);
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms linear, transform 300ms ease-out,
    border-color 300ms linear;
  transform: scaleX(0.98) scaleY(0.92);
  border-radius: 3px;

  @media (--viewport-11) {
    left: 16px;
    right: 16px;
  }
}

.root:global(.-active)::after {
  @media (--viewport-7) {
    opacity: 0.5;
    transform: scaleX(1) scaleY(1);
    border-color: var(--accent);
  }
}

/* .root:global(.-inactive) { } */
