@import '../styles/variables.css';

[id] .h3-section {
  @media (min-width: 768.1px) {
    /* This is where it gets funny */
    max-width: var(--column-size);

    & > .body > .-wide {
      width: var(--column-size-inverse);
    }
  }

  & > h3 {
    @apply --h3-font;
    margin-top: 3.5em;
    text-transform: uppercase;
    font-size: 0.95em;
    color: var(--accent-text);
    margin-bottom: 0.3em;
  }

  & > h3:empty {
    display: none;
  }

  & > .body,
  & > .body > :first-child {
    margin-top: 0;
  }
}

.h3-section.-literate-style,
.h3-section.-reverse-literate-style {
  max-width: 100vw;

  & > h3 {
    margin-top: 0;
  }

  & > ::after,
  & > .body::after {
    content: '';
    display: table;
    clear: both;
    zoom: 1;
  }

  & > .body > p {
    width: 50%;
    float: left;
    padding-right: 32px;
    margin-top: 0;
  }

  & > .body > pre,
  & > .body > blockquote {
    width: 50%;
    float: right;
    margin-top: 0;
  }
}

.h3-section.-reverse-literate-style {
  & > .body > p {
    width: 50%;
    float: right;
    padding-left: 32px;
  }

  & > .body > pre,
  & > .body > blockquote {
    width: 50%;
    float: left;
  }
}

[id] .h3-section.-hide-h3 {
  & > h3 {
    display: none;
  }
}

[id] .h3-section.-wide {
  @media (min-width: 768.1px) {
    /* This is where it gets funny */
    max-width: 100%;
  }
}
