@import '../styles/variables.css';

/**
 * Overrides:
 *
 *  - `-hide-h3`
 *  - `-literate-style`
 *  - `-wider-literate-style`
 *  - `-captioned-style`
 *  - `-wide`
 *
 * Element overrides (for paragraphs for example):
 *
 *  - `-wide`
 *  - `-wider`
 *  - `-panorama`
 *
 * Pre:
 *
 *  - `-terminal`
 *
 * Figure:
 *
 *  - `-crop`
 *  - `-bordered`
 */

[id] .root {
  @media (--ms-viewport-lg) {
    /* This is where it gets funny */
    max-width: var(--column-size);
  }

  /* Collapse space between h3 and its body */
  & > h3 {
    margin-bottom: 4px;
    color: var(--bold-color);
  }

  & > h3:empty {
    display: none;
  }
}

.body {
  composes: body from global;

  &,
  & > :first-child {
    margin-top: 0;
  }

  /* "Wide" is deprecated, things are now wide by default */
  @media (--viewport-7) {
    /* Increase padding in wide things */
    & > pre {
      padding: 24px;
    }

    & > pre,
    & > figure,
    & > table,
    & > :global(.-wide),
    & > :global(.-wider) {
      width: var(--column-size-inverse);
      margin-left: 0;
      margin-right: 0;
    }

    & > :global(.-panorama) {
      margin-top: 2.5em;
      margin-bottom: 2.5em;
      @apply --container-padding-antimargin;
      padding: 0;
      position: relative;
      z-index: 10;
    }
  }

  @media (--ms-viewport-xxl) {
    & > :global(.-wider) {
      max-width: calc(var(--column-size-inverse) + 128px);
      margin-left: -64px;
      margin-right: -64px;
    }
  }
}

.root:global(.-literate-style),
.root:global(.-wider-literate-style),
.root:global(.-captioned-style) {
  @media (--ms-viewport-lg) {
    max-width: 100vw;

    & > h3 {
      margin-top: 0;
    }

    & > ::after,
    & > .body::after {
      content: '';
      display: table;
      clear: both;
      zoom: 1;
    }
  }
}

.body:global(.-wider-literate-style),
.body:global(.-literate-style) {
  @media (--viewport-9) {
    & > ul,
    & > ol,
    & > p {
      width: 50%;
      float: left;
      clear: left;
      padding-right: 48px;
      margin-top: 0;
    }

    & > pre,
    & > figure,
    & > blockquote {
      width: 50%;
      float: right;
      clear: right;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;

      /* Undo the floating. This fixes margin collapsing in cases of h3 +
       * figure + p + p. */
      & ~ p,
      & ~ ul,
      & ~ ol {
        float: none;
      }
    }

    /* Smaller text for code in literate style */
    & > pre {
      line-height: 1.3em;
      font-size: 0.86em;
    }
  }
}

.body:global(.-wider-literate-style) {
  @media (--ms-viewport-xl) {
    & > ul,
    & > ol,
    & > p {
      width: 40%;
    }

    & > pre,
    & > figure,
    & > blockquote {
      width: 60%;
    }
  }
}

/**
 * Captioned style: a pre following a blockquote?
 * Hmm, maybe we should go with figcaption instead
 */

.body:global(.-captioned-style) {
  & > blockquote {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    color: var(--mute-text-color);
    font-size: 0.9em;
    line-height: 1.6;
  }

  & > blockquote > p {
    margin: 0;
    padding: 0;
  }

  @media (--ms-viewport-lg) {
    & > pre {
      width: 60%;
      float: left;
      margin-top: 0;
    }

    & > blockquote {
      width: calc(40% - 32px);
      float: right;
      margin: 0;
      margin-top: 0;
      border-top: solid 1px var(--accent);
      padding-top: 16px;
      padding-right: 32px;
    }

    & > blockquote > p > strong {
      color: var(--heading-color);
    }
  }
}

.root:global(.-hide-h3) {
  & > h3 {
    display: none;
  }
}

.root:global(.-wide) {
  @media (--ms-viewport-lg) {
    /* This is where it gets funny */
    max-width: 100%;
  }
}

/*
 * variations
 */

.body {
  & > pre,
  & > figure,
  & > blockquote {
    & > img {
      max-width: 100%;
    }

    &:global(.-crop) > img {
      max-width: 100vw;
    }
  }
}
