@import url('https://fonts.googleapis.com/css?family=Alegreya:400i,700i');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400');
/* @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono'); */
/* @import url('https://fonts.googleapis.com/css?family=Chivo:400,700'); */
@import url('https://fonts.googleapis.com/css?family=Barlow:700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/* @import url('https://typeof.net/Iosevka/iosevka/webfont.css'); */

@font-face {
  font-family: 'Iosevka Web';
  font-weight: 200;
  font-style: normal;
  src: url('https://typeof.net/Iosevka/iosevka/woff2/iosevka-extralight.woff2')
      format('woff2'),
    url('https://typeof.net/Iosevka/iosevka/woff/iosevka-extralight.woff')
      format('woff'),
    url('https://typeof.net/Iosevka/iosevka/ttf/iosevka-extralight.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Iosevka Web';
  font-weight: 400;
  font-style: normal;
  src: url('https://typeof.net/Iosevka/iosevka/woff2/iosevka-regular.woff2')
      format('woff2'),
    url('https://typeof.net/Iosevka/iosevka/woff/iosevka-regular.woff')
      format('woff'),
    url('https://typeof.net/Iosevka/iosevka/ttf/iosevka-regular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Iosevka Web';
  font-weight: 400;
  font-style: italic;
  src: url('https://typeof.net/Iosevka/iosevka/woff2/iosevka-italic.woff2')
      format('woff2'),
    url('https://typeof.net/Iosevka/iosevka/woff/iosevka-italic.woff')
      format('woff'),
    url('https://typeof.net/Iosevka/iosevka/ttf/iosevka-italic.ttf')
      format('truetype');
}

html,
body {
  overflow-x: hidden;
}
