@import '../styles/variables.css';

.main-heading > .left {
  position: fixed;
  top: 32px;
  left: 32px;

  & > .brandlink {
    display: block;
    width: 48px;
    height: 4px;
    background: var(--accent);
  }
}

.main-heading > .right {
  & {
    max-width: 300px;
    line-height: 1.7;
    display: block;
    position: fixed;
    top: 32px;
    right: 64px;
    color: var(--mute-text-color);
    font-size: 0.86em;
    text-align: right;
  }

  & > a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }

  & > .line {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 1px;
    background: #7894;
  }
}
