@import '../styles/variables.css';

/* This an invisble placeholder, only used as a tripwire for Waypoint */
.placeholder {
  display: block;
  position: absolute;
  height: 33vh;
  pointer-events: none;
}

/* Actual navigation */
.nav {
  display: flex;
  padding: 16px;
  opacity: 0;
  width: 100%;
  transform: translate3d(0, -24px, 0);
  transition: opacity 150ms linear, transform 150ms ease-out;
  align-items: center;

  @media (--viewport-9) {
    position: fixed;
  }

  @media (--viewport-11) {
    padding: 32px;
  }
}

.left,
.right {
  display: block;
  flex: 1 1 auto;
}

.right {
  text-align: right;
}

.nav.isVisible {
  opacity: 1;
  transform: scale(1);
  transition: opacity 100ms linear, transform 100ms ease-out;
}

.brandlink svg {
  width: 32px;
  height: 32px;
  transform: rotate(-90deg);
  animation: appear 250ms ease-in;

  & path {
    fill: var(--accent);
  }

  @media (--viewport-9) {
    width: 40px;
    height: 40px;
  }
}

.brandlink:hover svg {
  & path {
    fill: var(--accent-text);
  }
}

.otherLink {
  text-decoration: none;
  color: var(--bold-text);
  white-space: nowrap;
}

.otherLink img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 12px;
  border: solid 2px var(--accent);
}

.otherLink span {
  box-shadow: inset 0 -2px var(--accent);
}
