@import '../styles/variables.css';

/* This an invisble placeholder, only used as a tripwire for Waypoint */
.placeholder {
  display: block;
  position: absolute;
  height: 33vh;
  pointer-events: none;
}

/* Actual navigation */
.nav {
  display: block;
  padding: 16px;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 250ms linear, transform 250ms ease-out;

  @media (--viewport-9) {
    position: fixed;
  }

  @media (--viewport-11) {
    padding: 32px;
  }
}

.nav.isVisible {
  opacity: 1;
  transform: scale(1);
  transition: opacity 100ms linear, transform 100ms ease-out;
}

.brandlink svg {
  width: 32px;
  height: 32px;
  transform: rotate(-90deg);
  animation: appear 250ms ease-in;

  & path {
    fill: var(--accent);
  }

  @media (--viewport-9) {
    width: 40px;
    height: 40px;
  }
}

.brandlink:hover svg {
  & path {
    fill: var(--accent-text);
  }
}
