@import 'src/styles/variables.css';

.main-heading {
  padding: 32px 16px;
  display: flex;
  margin-top: 32px;
  margin-bottom: -112px;
}

.left,
.right {
  flex: 1 1 auto;
}

.right {
  text-align: right;
}

.main-heading :global(.home-link),
.main-heading :global(.home-link):visited {
  display: inline-block;
  color: #111;
  text-decoration: none;
  font-weight: bold;
  font-family: 'chivo', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.main-heading :global(.brand-link)::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 24px;
  margin-right: 16px;
  background: repeating-linear-gradient(
      45deg,
      white,
      white 4px,
      transparent 4px,
      transparent 6px
    ),
    linear-gradient(30deg, var(--accent), var(--co-accent));
}

.prefix {
  white-space: nowrap;
}

.prefix::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 10vw;
  height: 6px;
  border-radius: 3px;
  border: solid 2px var(--accent);
  margin-right: 32px;
}

.prefix,
.left {
  animation: fade-in 1000ms linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
