@import '../styles/variables.css';

& {
  .main-heading {
    padding: 16px;
    padding-right: 64px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  & > .left,
  & > .right {
    flex: 1 1 auto;
  }

  & > .right {
    text-align: right;
    @apply --font-size--1;
  }

  & > .right > .prefix > .homelink,
  & > .right > .prefix > .homelink:visited {
    display: inline-block;
    color: #111;
    text-decoration: none;
    font-weight: bold;
    font-family: 'chivo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  & > .left > .brandlink::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    height: 6px;
    border-radius: 3px;
    border: solid 2px var(--accent);
    margin-right: 16px;
    /* background: repeating-linear-gradient(
      45deg,
      white,
      white 4px,
      transparent 4px,
      transparent 6px
    ),
    linear-gradient(30deg, var(--accent), var(--co-accent)); */
  }

  & > .right > .prefix {
    white-space: nowrap;
    display: block;
    margin-bottom: 16px;
  }

  & > .right > .prefix::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 10vw;
    height: 6px;
    border-radius: 3px;
    border: solid 2px var(--accent);
    margin-right: 32px;
  }

  & > .right > .prefix,
  & > .left {
    animation: fade-in 1000ms linear;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
