@import '../styles/variables.css';

.next-block {
  & {
    @apply --em-style;
    line-height: 1;
    clear: both;
    margin: 0;
    color: var(--text-color);
    font-style: italic;
    padding-top: 1.5em;
  }

  & > strong {
    @apply --monolike-font;
    @apply --font-size--1;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.2em;
    background: var(--highlighter-color);
    color: var(--accent-text);
    font-style: normal;
    margin-right: 0.5em;
  }

  &::after {
    display: none;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    height: 3px;
    border-radius: 2px;
    background: var(--accent);
    margin: 0 24px;
  }
}
