@import '../styles/variables.css';

.root {
  & {
    @apply --em-style;
    line-height: 1;
    clear: both;
    margin: 0;
    color: var(--text-color);
    font-style: italic;
    padding-top: 1.5em;
  }

  &::before {
    @apply --fading-horizontal-rule;
    margin-bottom: 16px;

    @media (--viewport-9) {
      margin-bottom: 24px;
      margin-top: 32px;
    }
  }
}

.prefix {
  & {
    @apply --monolike-font;
    @apply --font-size--1;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--accent-text);
  }

  &::before {
    content: '> ';
  }
}
