@import '../styles/variables.css';

/* Overdrive */
.root > :global(div) {
  display: inline-block;
}

.title {
  font-weight: normal;
}

.title.isSmall {
  white-space: nowrap;
  text-transform: uppercase;
}
