@import '../styles/variables.css';

.root {
  display: block;
  @apply --container-padding;
  @apply --section-padding;
}

.body {
  @media (--viewport-7) {
    padding-right: 35%;
  }
}

[id] .body {
  em {
    font-style: normal;
    color: var(--mute-text-color);
  }
}
