@import '../styles/variables.css';

.link {
  & {
    padding: 12px 0;
    display: block;
  }

  &,
  &:visited {
    text-decoration: none;
    color: var(--heading-color);
  }
}

.tags {
  @apply --font-size--1;
  color: var(--mute-text-color);
  margin-left: 16px;
  display: none;
  @apply --alt-style;

  @media (--viewport-7) {
    display: inline;
  }
}

.date {
  @apply --font-size--1;
  color: var(--mute-text-color);
  @apply --code-font;

  &::after {
    content: '—';
    margin: 0 12px;
    color: var(--accent);
  }
}
