@import '../styles/variables.css';

.post-footer {
  & {
    background: white;
    margin-top: 0;
    padding-top: 64px;
    padding-bottom: 64px;
    @apply --shadow-paper-inactive;
  }

  @media (--ms-viewport-xl) {
    margin: 32px 32px;
  }

  & {
    margin-bottom: 8px;
  }

  & > .body {
    text-align: center;
  }

  & > .body > h3,
  & > .body > p {
    margin: 0;
    padding: 0;
  }

  & > .body > h3 {
    color: var(--heading-color);
  }
}
