@import '../styles/variables.css';

.post-footer {
  & {
    background: white;
    box-shadow: none;
    margin-top: 0;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  & > .body {
    text-align: center;
  }

  & > .body > h3,
  & > .body > p {
    margin: 0;
    padding: 0;
  }

  & > .body > h3 {
    color: var(--heading-color);
  }
}
