@import 'src/styles/variables.css';

.post-link > :global(a) {
  & {
    padding: 16px 0;
    display: block;
    border-top: solid 1px var(--border-color);
  }

  &,
  &:visited {
    text-decoration: none;
    color: var(--heading-color);
  }

  & > .date {
    @apply --font-size--1;
    color: var(--mute-text-color);
    margin-left: 16px;
    letter-spacing: 0.02em;
  }
}
