@import '../styles/variables.css';

.root {
  display: none;
  flex-direction: column;
  position: fixed;
  right: 32px;
  top: 32px;
  bottom: 32px;
  width: 10px;
  z-index: 5;
  justify-content: center;

  @media (--viewport-9) {
    display: flex;
  }
}

.peg {
  flex: 0 0 auto;
  margin: 8px 0;
  border-radius: 3px;
  display: inline-block;
  width: 3px;
  height: 4px;
  background: var(--accent);
}

.isActive {
  background: var(--mute-text-color);
  height: 16px;
}
