@import './container.css';
@import './dotted-background.css';
@import './type.css';
@import './code-background.css';

.light-panel {
  @apply px-4 py-0 bg-white border-solid border-n-line rounded-md shadow-16;
  border-width: 1px;
  background: white;
}

.figure-backdrop {
  background: linear-gradient(
    to bottom,
    transparent 15%,
    theme('colors.gray.200') 15%,
    theme('colors.gray.200') 85%,
    transparent 85%
  );
}

.rotate-270 {
  transform: rotate(270deg);
}

.transition-fast {
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}

.transition-md {
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}

.transition-margin {
  transition-property: margin;
}

.transition-wh {
  transition-property: width, height;
}
