@import './container.css';
@import './dotted-background.css';
@import './ms.css';
@import './type.css';
@import './code-background.css';

.light-panel {
  @apply bg-white border-solid border-n-line px-4 py-0 rounded-md shadow-16;
  border-width: 1px;
  background: white;
}

.figure-backdrop {
  background: linear-gradient(
    to bottom,
    transparent 15%,
    theme('colors.gray.200') 15%,
    theme('colors.gray.200') 85%,
    transparent 85%
  );
}

