.dotted-background-12 {
  background: radial-gradient(theme('colors.n.bold') 2%, transparent 2.3%),
    radial-gradient(theme('colors.a.300') 12%, transparent 12%);
  background-size: 6rem 6rem, 1rem 1rem;
  background-position: -0.5rem -0.5rem, 0 0;
}
