.type-body-sans {
  font-family: 'Public Sans', sans-serif;
}

.type-thin-heading {
  @apply font-thin type-body-sans;
  letter-spacing: -0.014em;
}

.type-bold-heading {
  @apply font-extrabold type-body-sans;
  letter-spacing: -0.02rem;
}

.type-monospace {
  font-size: 0.9em;
  font-family: 'Roboto Mono', cousine, monospace;
  line-height: 1.3;
  letter-spacing: -0.06em;
}

.type-italic-serif {
  font-family: 'Gentium Basic', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.1em;
}

.type-heading-serif {
  font-family: 'Gentium Basic', serif;
  font-weight: 400;
}

.type-bold-caps {
  font-family: 'Public Sans', sans-serif;
  @apply font-extrabold uppercase text-gray-900;
  letter-spacing: 0.08em;
}
