.type-thin-heading {
  @apply font-thin type-body-sans;
  letter-spacing: -0.014em;
}

.type-bold-heading {
  @apply font-bold type-body-sans;
  letter-spacing: -0.02rem;
}

.type-heading-serif {
  font-family: Eczar, serif;
  font-weight: 400;
}

.type-bold-caps {
  font-family: 'Public Sans', sans-serif;
  @apply font-extrabold text-gray-900 uppercase;
  letter-spacing: 0.08em;
}

.type-heading-serif-bold {
  font-family: Eczar, serif;
  font-weight: 500;
}
