@import 'css-utils/all.css';

.placeholder {
  & {
    @apply h-8;
  }

  @screen md {
    @apply h-12;
  }
}

.topLeft {
  & {
    @apply absolute top-0 left-0 m-2 transition-md transition-margin;
  }

  @screen md {
    @apply fixed z-10 m-4;
  }
}

.topRight {
  & {
    @apply absolute top-0 right-0 m-4 opacity-0 transition-md transition-all;
    @apply pointer-events-none type-bold-caps -rms-1;
  }

  @screen md {
    @apply fixed z-10 m-6 opacity-100 pointer-events-auto;
  }
}

.backLink {
  & {
    @apply block p-2 text-center transition-all transition-fast;
  }

  &:focus,
  &:hover {
    @apply bg-white text-a-500 shadow-8;
    transform: scale(1.15);
  }
}

.backIcon {
  & {
    @apply block w-6 h-6 rotate-270 transition-md transition-wh;
  }

  @screen md {
    @apply w-8 h-8;
  }
}

.isExpanded {
}

.isCollapsed {
}

.topRight.isCollapsed {
  opacity: 0;
  transform: translate3d(0, -0.25rem, 0);
}
